body {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.wrapper {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  max-width: max-content;
}

.button {
  background-color: rgb(11, 11, 11);
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 28px;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(72, 72, 72);
}

.input {
  padding: 9px 13px 8px 13px;
  border-radius: 5px;
  border: 0.5px solid gray ;
  margin-right: 20px;
  width: 255px;
}
